#content
	background-color #e1e1e1
	padding 50px 0

	ul
		margin 0
		margin-top 50px
		padding 0
		list-style none
		font-size 0
		width 700px
		margin-left auto
		margin-right auto
		padding-left 40px

		@media screen and (max-width: 700px)
			width 100%
			padding-left 0

		li
			margin-bottom 50px
			font-size 16px
			font-weight 300
			width 50%
			display inline-block

			&.indent
				padding-left 50px

			&.chimneys
				margin-left -50px

			img
				vertical-align middle
				margin-right 15px


			@media screen and (max-width: 670px)
				width 100%
				text-align center

				&.indent, &.chimneys
					padding-left 0
					margin-left 0

				&.spacer
					display none

				.stone
					display block
					text-align center