#header
	background-image url('../images/header/menu-background.jpg')
	background-size cover
	position fixed
	top 0
	left 0
	width 100%
	z-index 1

	@media screen and (max-width: 446px), screen and (max-height: 400px)
		position static

	.logo
		text-align center
		padding-top 28px
		padding-bottom 15px

		@media screen and (max-width: 446px) /* width of logo */
			img
				width 100%

	.menu
		text-align center
		border-top 1px solid white

		ul
			padding 10px 0

			li
				display inline-block
				padding 0 20px

				a
					color white
					text-transform uppercase