#hero
	position relative
	height 300px

	.images
		font-size 0

		li
			opacity 0
			width 100%
			height 100%
			background-size cover
			background-position 50% 50%
			position absolute
			top 0
			left 0
			transition opacity 0.5s linear

			&.active
				opacity 1

	.dots
		position absolute
		bottom 20px
		left 50%
		transform translateX(-50%)

		ul
			li
				display inline-block
				height 17px /* height of dot */
				width 17px /* width of dot */
				margin 0 7px

				.dot-active
					display none

				&.active
					display inline-block

					.dot
						display none

					.dot-active
						display block

				&:hover
					cursor pointer