#work
	background-image url('../images/work/work-background.jpg')
	background-size cover
	position relative
	padding-top 80px

	.arrow
		position absolute
		left 50%
		margin-left -25px /* half of arrow image width */
		top -21px

	.container
		h1
			margin 0
			text-transform uppercase
			margin-bottom 40px
			color #e1e1e1

		.gallery
			position relative

			ul
				font-size 0

				li
					display inline-block
					padding 25px

			.scroll
				position absolute
				top 50%
				right 0

				&:hover
					cursor pointer


